.containerService {
  display: flex;
  height: 100vh;

  .boxImage {
    width: 718px;
    height: 726px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .contentServices {
    width: 420px;
    height: 458px;
    margin-top: 8rem;
    margin-left: 10rem;

    h1 {
      margin: 2rem 0;
      font-family: Montserrat, sans-serif;
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.6875rem;
      color: #2D3561;
    }

    p {
      font-size: 1rem;
      line-height: 1.6875rem;
      color: #BCBCBC;
    }

    button {
      border: 0;
      width: 134px;
      height: 48px;
      background: var(--green-400);
      color: var(--white);
      line-height: 1.6875rem;
      border-radius: 0.35rem;
      font-family: Mulish;
      text-align: center;
      margin-top: 1.8rem;
    }
  }
}

@media (max-width: 1500px) {
  .containerService {
    height: 125vh;
  }
}

@media (max-width: 1291px) {
  .containerService {
    height: 110vh;
    
    .boxImage {
      width: 618px;
      height: 626px;
  
      img {
        width: 100%;
        height: 100%;
      } 
    }
  
    .contentServices {
      width: 420px;
      height: 458px;
      margin-top: 8rem;
      margin-left: 2rem;
    }
 
  }
}

@media (max-width: 1079px) {
  .containerService {
    
    .boxImage {
      width: 518px;
      height: 526px;
  
      img {
        width: 100%;
        height: 100%;
      } 
    }
  
    .contentServices {
      width: 320px;
      margin-top: 2rem;
      margin-left: 1rem;
    }
 
  }
}

@media (max-width: 867px) {
  .containerService {
    
    .boxImage {
      width: 418px;
      height: 426px;
  
      img {
        width: 100%;
        height: 100%;
      } 
    }
  
    .contentServices {
      width: 320px;
      margin-top: -0.8rem;
      margin-left: 1rem;
    }
 
  }
}

@media (max-width: 754px) {
  .containerService {
    
    .boxImage {
      display: none;
  
      img {
        width: 100%;
        height: 100%;
      } 
    }
  
    .contentServices {
      width: 320px;
      margin: 9rem auto;
    }
 
  }
}

@media (max-width: 500px) {
  .containerService {
    height: 75vh;
    
    .boxImage {
      display: none;
  
      img {
        width: 100%;
        height: 100%;
      } 
    }
  
    .contentServices {
      width: 200px;
      margin: 5rem auto;
    }
 
  }
}

@media (max-width: 500px) {
  .containerService {
    // height: 75vh;
    
    .boxImage {
      display: none;
  
      img {
        width: 100%;
        height: 100%;
      } 
    }
  
    .contentServices {
      width: 200px;
      margin: 5rem auto;
    }
 
  }
}